.contact{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Verdana',sans-serif;
}

h1{
    text-align: center;
  }
  



  
  .form-style {
    margin:10px auto;
    width: 400px;
    padding: 20px 12px 10px 20px;
    font: 14px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  }
  
  .form-style td {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
  }
  
  .form-style label{
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
  }
  
  .form-style .required{
    color:red;
  }
  .form-style input[type=submit], .form-style input[type=reset]{
    background: #535353;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
  }
  .form-style input[type=submit]:hover, .form-style input[type=reset]:hover{
    background: linear-gradient(135deg, #5f676d, #d6d4d6);
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
  }
  .form-style .field-textarea{
    height: 150px;
  }
  .form-style input[type=text], 
  .form-style input[type=email],
  textarea{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;  
  }
  .form-style .long{
    width: 100%;

  }
  .form-style input[type=text]:focus, 
  .form-style input[type=email]:focus,
  .form-style textarea:focus{
    -moz-box-shadow: 0 0 8px #535353;
    -webkit-box-shadow: 0 0 8px #535353;
    box-shadow: 0 0 8px #535353;
    border: 1px solid #535353;
  }
  .error{
    color: #D8000C;
    background-color: #FFBABA;
  }

  .contact {
      margin-top: 20px;
      padding-top: 80px;
    
      height: 100px;
  }
  body {
    background: linear-gradient(135deg, #5f676d, #d6d4d6);;
    height: 100%;
  }

  form .button{
    height: 50px;
    margin: 35px 0
  }
  form .button input{
    
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #d6d6d6, #a0a0a0);
  }
  form .button input:hover{
   transform: scale(0.98);
   background: linear-gradient(-135deg, #d6d6d6, #a0a0a0);
   }
  @media(max-width: 584px){
  .login-form{
   max-width: 100%;
 }
  }

  
