@charset "UTF-8";

.qtext {
	font-size: 20px;
    font-weight: 50;
    color : #242526;
}

.qanswer {
	font-size: 15px;
    font-weight: 50;
    color : #137b2a;
}

.wanswer {
	font-size: 15px;
    font-weight: 50;
    color : #a40000;
}
